<h1>Insurance calculator</h1>

<form class="insurance-form" [formGroup]="insuranceForm">
    <div>
        <p>Insurance amount</p>
        <label for="insurance-price">{{ rangeAmount.min }} - {{ rangeAmount.value }} - {{ rangeAmount.max }}</label>
        <input id="insurance-price" 
            name="insurance-price" 
            type="range" 
            value="5000"
            min="100" 
            max="10000" 
            step="1"
            formControlName="insurancePrice"
            #rangeAmount
        />
    </div>
    
    <div formGroupName="installment">
        <label for="installment">Amount of installments</label>
        <input class="insurance-installment-button" name="installment" type="button" value="1 installment" formControlName="oneInstallment"/>
        <input class="insurance-installment-button" name="installment" type="button" value="2 installments" formControlName="twoInstallments"/>
        <input class="insurance-installment-button" name="installment" type="button" value="4 installments" formControlName="fourInstallments"/>
    </div>

    <div formGroupName="state">
        <label for="state">State</label>
        <input class="insurance-state-button" name="state" type="button" value="no damage" formControlName="noDamage"/>
        <input class="insurance-state-button" name="state" type="button" value="the damage done" formControlName="doneDamage"/>
        <p>No choice means a new customer with no past</p>
    </div>

    <div>
        <button type="button" class="calculate-button" (click)="calculateResult()">Calculate installment</button>
        <p>{{ result }} zł</p>
    </div>

</form>